<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Start Slider -->
<!--    <div id="slides-shop" class="cover-slides">-->
<!--        <ul class="slides-container">-->
<!--            <li class="text-center">-->
<!--&lt;!&ndash;                <img src="{% static 'assets/img/hero-bg.jpg' %}" height="900px" width=200%" alt="">&ndash;&gt;-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12">-->
<!--                            <h1 class="m-b-20"><strong>DELICIOUS SEASONAL FRUITS</strong></h1>-->
<!--&lt;!&ndash;                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>&ndash;&gt;-->
<!--                            <p><a class="btn hvr-hover" href="{% url 'shop:categories' %}">Shop New</a></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="text-center">-->
<!--                <img src="{% static 'assets/img/hero-bg.jpg' %}" height="900px" width=200%" alt="">-->
                <div class="hero-area orange">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Fresh & Organic</p>
							<h1>Delicious Seasonal Fruits</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Fruit Collection</a>
								<a href="contact.html" class="boxed-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--        <div class="slides-navigation">-->
<!--            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>-->
<!--        </div>-->
<!--            </li></ul> </div>-->
    <!-- End Slider -->

<div class="container mt-5 p-5 " style="margin-bottom:100px;">
    <h3 class="text-center"><b>OUR COLLECTIONS</b></h3>
    <p style="text-align:justify;line-height:2;font-size:20px;">We’re not your average fruit importers. We have expertise in sourcing the choicest of fresh fruits from around the world and distributing it across the length and breadth of India. Our top-notch distribution network strengthened through almost a century of existence in the fruit business, works efficiently to ensure the fruits are delivered far and wide with an intriguing depth of freshness. We provide fresh fruits online and fresh juices online.

We have expertise in providing fresh fruits online and fresh juices online and offline and sourcing the choicest of fruits and juices from around the world</p>

<div class="categories-shop">
        <div class="container text-center">
            <div class="row">
                {% for i in cat %}
                <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
                    <div class="shop-cat-box">

                        <img class="" src="{{i.image.url}}" alt="" height="250px" width="100%">
                        <div class="mx-auto">
                            <br>

                            <h2><a class="btn bg-secondary text-white hvr-hover" href="{% url 'shop:product' i.id %}"><span style="text-transform:uppercase;">{{i.name}}</span></a></h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div></div>
        </div>
    </div>
{% endblock %}